<div><img class="big-flag" src={{country.flag}} alt="!!!" /></div>
<h3>{{country.name}}</h3>
<table>
  <tr>
    <td><b>capital:</b></td>
    <td>{{country.capital}}</td>
  </tr>
  <tr>
    <td><b>population</b></td>
    <td>{{country.population}}</td>
  </tr>
  <tr>
    <td><b>language:</b></td>
    <td>{{country.languages[0].name}}</td>
  </tr>
  <tr>
    <td><b>sub- region:</b></td>
    <td> {{country.subregion}}</td>
  </tr>
  <tr>
    <td><b>demonym:</b></td>
    <td>{{country.demonym}}</td>
  </tr>
</table>
<br>
<p id="comment" ng-show="checkComm(country.name)">**{{commen}}**</p>
<br>
<br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">comment:</span>
  <input type="text" class="form-control" ng-blur="myFunction(country.name,'Yael')" placeholder="update comment" name="comment"
    aria-describedby="basic-addon1" ng-model="myComment">
</div>
<br>
